.admin-title {
    display        : flex;
    justify-content: center;
}

.admin {
    padding: 20px;
}

.admin-title {
    font-size    : 24px;
    margin-bottom: 20px;
}

.predict-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.prediction-result {
    margin-top   : 20px;
    border       : 1px solid #ccc;
    padding      : 10px;
    border-radius: 5px;
}

.admin-subtitle {
    display: flex;
    flex-direction: row;
    gap: 10px;
}